body {
  margin-top: 30px;
  color: black;
  word-break: break-all;
  padding: 5vh 10vw;
  font-family: "Noto Sans HK", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
.code,
span,
div {
  font-family: "Noto Sans HK", sans-serif;
}

pre code,
pre code span {
  font-family: monospace !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-div {
  position: relative;
}

.code-div pre {
  overflow: auto;
}

.copy-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.hidden {
  display: none;
}