body{
    background-image: url("hero.png");
    background-repeat: repeat;
}
.top{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    background: white;
}

.carousellimg{
    height:60px;
    padding:5px;
}

.navbar {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    font-size: 16px;
    height:60px;
    padding:0px;
}

.dropdown-toggle{
    color:black;
}

.container-rectangle{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:50px;
}
.rectangle{
    height:450px;
    width: 400px;
    background:white;
    border-radius:15px;
    padding:0px;
}

.container-or{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:20px;
}

/* .rectangle-or{
    color:black;
    width:30px;
    height:5px;
} */
.container-digic{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:55px;
}
.btn-digic {
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.btn-digic {
    background-color: #2d3e6b;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width:90%;
    padding-right:20px;
    padding-left:20px;
}

.btn-digic:hover{
    background-color:white;
    color:#2d3e6b;;
    border: solid 1.3px #2d3e6b;
}


.form-container{
    padding-top:0px;
    display:flex;
    flex-direction:row;
    justify-content: center;
/* padding-right:20px;
padding-left:20px; */
}

.form-group{
    width:90%;
}

.signinbutton{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:20px;
}

.btn-signin{
    border: solid 1.3px #2d3e6b;
    color:#2d3e6b;
    width:90%;
    font-size:18px;

}