body {
  margin-top: 30px;
  color: black;
  word-break: break-all;
  padding: 5vh 10vw;
  font-family: 'Noto Sans HK', sans-serif;
}

h1, h2, h3, h4, h5, p, .code, span, div {
  font-family: 'Noto Sans HK', sans-serif;
}

.card {
  padding: 5vh;
  margin-top: 4vh;
}

.code {
  font-family: monospace;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: relative;
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.flex-container {
  display: flex;
}

.half {
  width: 50%;
}

pre {
  white-space: pre-wrap !important;
}

.dontshow {
  position: absolute;
  display: block;
  height: 1px;
  overflow: hidden;
  width: 1px;
}